{{#with approvals.pt_pta as |pt_pta|}}
<table>
    <tr>
        <td width="25%">
            <span>PT/PTA</span>
        </td>
        <td width="75%">
            <span>
            {{#each pt_pta as |approval|~}}
                {{ approval.state }}: {{ approval.category }} {{ approval.status }} {{ approval.code }} {{ approval.statement }}{{#unless @last}}; {{/unless}}
            {{~/each}}
            </span>
        </td>
    </tr>
</table>
{{/with}}
